# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info

# stored data
blob_store/
commit_store/commit/
tag_store/tag/
tree_store/
projects/
\!blob_store/.gitkeep
\!commit_store/commit/.gitkeep
\!tree_store/.gitkeep
\!tag_store/tag/.gitkeep
\!projects/.gitkeep